<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let book of (books$ | async)">
      <tr>
        <th scope="row">{{ book?.id }}</th>
        <td>{{ book?.name }}</td>
        <td>{{ book?.author }}</td>
        <td>{{ book?.publisher }}</td>
        <td>
          <button class="btn btn-outline-success">Modifier</button>
          <button class="btn btn-outline-danger ms-2"
            (click)="deleteBook(book?.id)">
            Supprimer
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
